<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Runtime-requested on Android 13+ (permission_handler); needed to
         show a notification when ZELIA replies while the app is backgrounded. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Runtime-requested (permission_handler); needed for speech_to_text's
         microphone capture. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:label="ZELIA"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- remote_bridge.py is plain HTTP, reached only over Tailscale's
             already-encrypted private network, not exposed to the open
             internet, so skipping TLS here is an intentional simplification,
             not an oversight. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Makes ZELIA selectable under Settings > Apps > Default apps >
             Digital assistant app. onNewSession (ZeliaVoiceInteractionSession)
             just brings the chat screen to the front and tells it to start
             listening immediately, rather than re-implementing the whole UI
             a second time as a floating assistant overlay. -->
        <service
            android:name=".ZeliaVoiceInteractionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service"/>
        </service>
        <service
            android:name=".ZeliaVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
